#.gitignore

# Node
node_modules/
dist/
public/

# Logs
logs/
*.log

# Vite
.vite/

# Python
venv/
__pycache__/
*.py[cod]

# Selenium artifacts
chrome_profile/
monarch_cookies.json

# Supabase
/supabase/config.toml

# Env vars
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/
.DS_Store
# Local Netlify folder
.netlify
